.main {
  min-height: 100vh;
}

.copyBanner {
  font-family: RobotoLight, serif;
  font-weight: normal;
  line-height: 1.3;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyBanner p {
  max-width: 700px;
  margin: 2.3rem auto 1.1rem;
}

.copyBanner em {
  color: var(--text);
  font-size: 36px;
  font-style: normal;
  width: 100%;
  text-align: center;
}

.bannerText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerButton {
  font-family: RobotoBold, serif;
  display: inline-block;
  padding: 1.1rem 50px 1.0rem;
  margin-bottom: 40px;
  background: var(--green-light);
  color: var(--white);
  border: 0;
  font-weight: 700;
  border-radius: 5px;
  font-size: 18px;
}

.secondaryContainer {
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", "Hoefler Text", Georgia, "Lucida Bright", Cambria, Times, "Times New Roman", serif;
  font-size: 18px;
  color: var(--text);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
}

.secondaryHeader {
  font-size: 32px;
  margin: 40px 0 30px;
}

.projects {
  max-width: 1400px;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 20px;
}

.projectItem {
  background: var(--shape);
  border-radius: 5px;
  min-width: 250px;
  min-height: 250px;
}

.allProjectsButton {
  font-family: Roboto, serif;
  background: none;
  border-radius: 5px;
  color: var(--text-complement);
  border: 1px solid var(--border);
  margin: 20px auto 60px;
  max-width: 400px;
  display: block;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
}

.allProjectsButton:hover {
  border-color: var(--green);
  color: var(--green);
}

.separator {
  border-bottom: 1px solid var(--border);
}

.left {
  width: 65%;
  padding-left: 4.16%;
}

.right {
  font-family: RobotoLight, serif;
  font-size: 15px;
  width: 32%;
  background: var(--shape);
}

.socials {
  margin: 45px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.socials a {

}

.rightMenuHeader {
  margin: 0 10%
}

.rightMenuHeader h2 {
  font-size: 20px;
}

.rightMenuText {
  margin: 0 10%;
  border-top: 1px solid var(--border)
}

.rightMenuText > p > a:hover {
  text-decoration: underline;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 8%;
  row-gap: 10px;
  column-gap: 5px;
}

.skillItem {
  border-radius: 5px;
  border: 1px solid var(--border);
  padding: 0.1em 0.3em;
}

@media (max-width: 768px) {
  .right {
    padding: 0 10px;
    width: 100%
  }
  .left {
    width: 100%;
    padding-right: 4.16%;
  }
  .secondaryContainer {
    flex-direction: column;
  }
  .rightMenuHeader, .rightMenuText {
    margin: 0 10px
  }
}
