.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rightMenuHeader {
    margin: 0 10%
}

.rightMenuHeader h2 {
    font-size: 20px;
}

.rightMenuText {
    margin: 0 10%;
    border-top: 1px solid var(--border)
}


.rightMenuText > p > a:hover {
    text-decoration: underline;
}

.skillItem {
    border-radius: 5px;
    border: 1px solid var(--border);
    padding: 0.1em 0.3em;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 8%;
    row-gap: 10px;
    column-gap: 5px;
    margin-bottom: 15px;
}

.experienceContainer {
    font-family: RobotoLight, serif;
}

.experienceContainer h2, .experienceContainer h3 {
    color: var(--text)
}